.jumbotron {
    position: relative;
    padding: 30px 0;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: #00312F;
    background: linear-gradient(45deg, #020031 0%,#33516D 100%);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
}

.jumbotron img {
    float: left;
}

.jumbotron .pull-left {
    margin-left: 34px;
}

.jumbotron h1 {
    margin: 0 0 10px 0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

.jumbotron h2 {
    margin: 0 0 30px 30px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
}

.jumbotron ul {
    margin: 0 0 0 50px;
    padding: 0;
}

.jumbotron ul li {
    font-size: 20px;
}

.width-container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.contents .description {
    padding: 30px;
    font-size: 20px;
    margin: 0;
}

.footer {
    margin: 24px 0;
    border-top: 1px solid #ccc;
    padding: 24px;
    text-align: right;
}
